
.htaccess
.gitignore	
.idea/*
_php/*
/DnD5_charlist/
/fate/*
/hackerman/
/messgae/*
node_modules/*
/tavern-map/*
/message/

/archive/.git*
/archive/.git/
/archive/node/
/archive/source/
!archive/tables/100_wild_magic_effects.html

/magic-items/.git*
/magic-items/node*

/monsters/.git*

/names/.git/
/names/.gitattributes
/names/.gitignore

/random/.git*

/spells/.git*
/spells/node*

/tavern/.git*
/tavern/fonts*

/topography/.git*

archive/python/__pycache__/settings.cpython-36.pyc
archive/python/session_name.session
archive/python/settings.py
archive/python/var.txt
three_landscape/
