*.psd
.htaccess
.gitignore	
.idea/*
_php/*
/DnD5_charlist/
/fate/*
/message/*
node_modules/*
/tavern-map/*

/archive/.git*
/archive/.git/
/archive/node/

!archive/tables/100_wild_magic_effects.html

/magic-items/.git*
/magic-items/node*

/equipment/.git*
/equipment/node*
/equipment/.gitattributes
/equipment/.gitignore

/monsters/.git*

/names/.git/
/names/.gitattributes
/names/.gitignore

/random/.git*

/feats/.git*
/feats/.git/*
/feats/.gitattributes
/feats/.gitignore

/spells/.git*
/spells/node*

/tavern/.git*
/tavern/fonts*

/topography/.git*

archive/python/__pycache__/settings.cpython-36.pyc
archive/python/session_name.session
archive/python/settings.py
archive/python/var.txt
archive/python/*

three_landscape/


dw_master_helper/.git/
dw_master_helper/.gitattributes
dw_master_helper/.gitignore

/Invocations/.git/
/Invocations/.gitattributes
/Invocations
