@vpad: .4em;

#result, #names{
    padding: @vpad 1rem;
}
#result{
    td, th{
        padding: .2em;
    }
    th{
        background: @l-gray - #222;
        color: @d-gray - #111;
    }
    p{
        //margin: 1rem;
        color: @l-gray - #222;
    }
}

#nameLog{
	margin-top: 1rem;
}

#panel{
    padding-bottom: .2em;
    .bt{
        width: 100%;
        text-align: center;
        margin: .2em 0;
        padding: @vpad .1em;
    }
}


.center{
    text-align: center;
}
.bt{
    padding: .2em .3em;
    margin: .2em;
}

.bt[disabled]{
    background: @l-gray + #111;
    color: @l-gray - #111;
    &:hover{
        background: @l-gray + #111;    
    }
}


.warn{
    color: red;
    .transit(color, .3s);
}

.center{
    margin: 1rem auto;
}
.max_width_800{
    max-wifth: 800px;
}

#nameListSelect,
#sexListSelect{
    display: block;
    .option{
        padding: .8em .2em;
    }
}

[v-cloak] {
  display: none;
}

@media only screen and (min-width: 450px) {	
    
    #panel{
        button, .bt{
            //min-height: 3em;
            display: inline-block;
            //width: 50%;
            width: auto;
            float: none;
            margin: .2em .2em;
            padding: .4em;
        }
    }
    #nameListSelect,
    #sexListSelect{
        display: inline-block;
        .option{
            padding: .3em .2em;
        }
    }
}

@media only screen and (min-width: 700px) {	
    #names, #result{
        margin: 0;
        float: left;
        width: 50%;
    }    
    #result{
        p, h1{
            //margin: 1rem 3rem;
        }
    }
}
