.clear {
  float: none!important;
  clear: both!important;
  display: table!important;
  width: 0!important;
  height: 0!important;
  margin: 0!important;
  padding: 0!important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#bg-dark {
  position: fixed;
  top: -40%;
  left: -40%;
  right: -40%;
  bottom: -40%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.flexChild {
  flex-grow: 1;
}
.frame {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 0px;
}
.fr {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border-bottom-width: 2px;
}
.fr-convex {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fr-concave {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #222;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  counter-reset: p_num 0;
  overflow-y: scroll;
}
img {
  border: none;
  display: inline-block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10.5px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
br {
  clear: both;
}
p {
  margin: 0 0 10.5px;
}
table tr {
  background: #fff;
}
table tr:nth-child(even) {
  background: #eaeaea;
}
table td:first-child {
  white-space: nowrap;
}
.wrap {
  overflow: hidden;
  float: none;
  clear: both;
  display: flex;
  flex-wrap: wrap;
}
.pageColumn {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 35rem;
}
.bt {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #555555;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #777;
  padding: .2em;
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 100%;
  margin: .1em;
}
.bt:hover {
  background: #888888;
}
.bt:active {
  background: #666666;
}
.button {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  border-top-width: 1px;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: .9em 1.6em;
  margin: .5em .5em 0em;
  background: #f9f9f9;
  text-decoration: none;
  color: #487EC5;
  transition: box-shadow 0.3s, background 0.3s, color 0.3s;
}
.button:hover {
  background: #fefefe;
  color: #376db4;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.mod_win_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  z-index: 999;
}
.mod_win_wrapper .mod_win {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  overflow: visible;
  background: #fff;
  border: 0px solid #d8d8d8;
  border-top-width: 0px;
  /*display: inline-block;*/
  font-weight: bold;
  padding: 0.7em;
  margin: 0.3em;
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 2px;
  text-decoration: none;
  border-color: #777;
  color: #fff;
  background: #666666;
  box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0.3em;
  display: flex;
  position: absolute;
  width: 95%;
  max-width: 50em;
  min-height: 15em;
  max-height: 95%;
  overflow-y: hidden;
  top: 1em;
  z-index: 9999;
  background: #eeeeee;
  color: #222;
  cursor: default;
  font-weight: normal;
  position: relative;
}
.mod_win_wrapper .mod_win_content {
  padding: .5em;
  overflow-y: scroll;
  width: 100%;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar-thumb {
  background: #777;
}
.mod_win_wrapper .mod_win_content::-webkit-scrollbar-track {
  background: #ddd;
}
.mod_win_wrapper .mod_win_content body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.mod_win_wrapper .bCloseInfoWin {
  position: absolute;
  top: -0.2em;
  right: .4em;
  padding: .1em .2em;
  font-size: 300%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
}
.mod_win_wrapper .bCloseInfoWin:hover {
  color: rgba(0, 0, 0, 0.4);
}
.artifProp {
  margin: 0.3rem;
  padding: 0.6rem;
  cursor: pointer;
  transition: background .2s;
  /* &:hover{ */
  /* background: fade(@color, 50%); */
  /* } */
}
#dbg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 88;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.filterLabel {
  width: 100%;
  padding: .2em 0.1em 0;
  font-weight: bold;
}
.filterLabel:after {
  content: ":";
}
#sWinHistory {
  max-height: 60vh;
}
#info_text {
  padding: .7em 1.3em;
  background: rgba(255, 255, 255, 0.88);
  color: #222;
  font-weight: 600;
  max-width: 90rem;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.tabs .tab_titles {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.tabs .tab_titles .tab_title {
  margin: 0;
  padding: 1rem;
  text-indent: 0;
  list-style-type: none;
  cursor: pointer;
}
.tabs .tab_titles .tab_title:hover {
  background: silver;
}
.tabs .tab_titles .tab_title.selected {
  background: #bebebe;
}
.tabs .tab {
  min-height: 15rem;
}
.round_container {
  color: #ddd;
}
.round_container .toolbar {
  max-width: 35rem;
  margin: .1rem auto;
}
.toolbar {
  display: flex;
  font-size: 130%;
}
.toolbar .title {
  margin-left: .8em;
  margin-right: .3em;
}
.toolbar button,
.toolbar input,
.toolbar span {
  color: #777;
  font-size: 130%;
  background: none;
  border-width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toolbar input {
  text-align: center;
  padding: .5rem;
  max-width: 6em;
}
.toolbar input:active,
.toolbar input:focus {
  background: #ddd;
  color: #222;
}
.toolbar input:active:hover,
.toolbar input:focus:hover {
  color: #222;
}
.toolbar button,
.toolbar input {
  cursor: pointer;
}
.toolbar button:hover,
.toolbar input:hover {
  color: #ddd;
}
#selectedOne {
  max-height: 110px;
  overflow: hidden;
}
#selectedOne .i_item {
  text-decoration: none;
  display: flex;
  margin-bottom: 0.3rem;
  min-height: 8rem;
  overflow: hidden;
}
.manageButtons {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1.6rem 0.5rem .9rem;
}
.manageButtons .mButton {
  padding: 0.9rem;
  background: #777;
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
}
.manageButtons .mButton:hover {
  background: #5e5e5e;
}
.manageButtons .mButton:active {
  background: #444444;
}
.manageButtons #sortItems {
  flex-grow: 55;
}
.manageButtons #nextOne {
  flex-grow: 99;
}
.place {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 11rem;
  overflow: hidden;
}
.separator.hiding,
.place.hiding {
  max-height: 0;
  transition: max-height 0.4s;
}
@keyframes growing {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 11rem;
  }
}
.last_appear {
  animation-name: growing;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.i_item {
  text-align: left;
  text-decoration: none;
  display: flex;
  margin-bottom: 0.3rem;
  min-height: 5rem;
}
#selectedOne,
#allOnes {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ico_bord {
  float: left;
  background: #777;
  border: 5px solid #ddd;
  position: relative;
  border-radius: 0.5rem;
}
.ico_bord .initiative {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  text-align: center;
  min-width: 4rem;
  height: 4rem;
  padding: .8rem;
  font-size: 150%;
  font-weight: bold;
  border-radius: 2rem;
  background: rgba(34, 34, 34, 0.8);
  color: #ddd;
  cursor: default;
}
div[data-ico=ico_0] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: 0px 0px;
}
div[data-ico=ico_1] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -100px 0px;
}
div[data-ico=ico_2] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -200px 0px;
}
div[data-ico=ico_3] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -300px 0px;
}
div[data-ico=ico_4] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: 0px -100px;
}
div[data-ico=ico_5] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -100px -100px;
}
div[data-ico=ico_6] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -200px -100px;
}
div[data-ico=ico_7] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -300px -100px;
}
div[data-ico=ico_8] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: 0px -200px;
}
div[data-ico=ico_9] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -100px -200px;
}
div[data-ico=ico_10] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -200px -200px;
}
div[data-ico=ico_11] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -300px -200px;
}
div[data-ico=ico_12] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: 0px -300px;
}
div[data-ico=ico_13] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -100px -300px;
}
div[data-ico=ico_14] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -200px -300px;
}
div[data-ico=ico_15] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_01.png');
  background-position: -300px -300px;
}
div[data-ico=ico_02_0] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: 0px 0px;
}
div[data-ico=ico_02_1] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -100px 0px;
}
div[data-ico=ico_02_2] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -200px 0px;
}
div[data-ico=ico_02_3] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -300px 0px;
}
div[data-ico=ico_02_4] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: 0px -100px;
}
div[data-ico=ico_02_5] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -100px -100px;
}
div[data-ico=ico_02_6] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -200px -100px;
}
div[data-ico=ico_02_7] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -300px -100px;
}
div[data-ico=ico_02_8] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: 0px -200px;
}
div[data-ico=ico_02_9] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -100px -200px;
}
div[data-ico=ico_02_10] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -200px -200px;
}
div[data-ico=ico_02_11] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -300px -200px;
}
div[data-ico=ico_02_12] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: 0px -300px;
}
div[data-ico=ico_02_13] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -100px -300px;
}
div[data-ico=ico_02_14] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -200px -300px;
}
div[data-ico=ico_02_15] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_02.png');
  background-position: -300px -300px;
}
div[data-ico=ico_03_0] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: 0px 0px;
}
div[data-ico=ico_03_1] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -100px 0px;
}
div[data-ico=ico_03_2] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -200px 0px;
}
div[data-ico=ico_03_3] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -300px 0px;
}
div[data-ico=ico_03_4] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: 0px -100px;
}
div[data-ico=ico_03_5] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -100px -100px;
}
div[data-ico=ico_03_6] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -200px -100px;
}
div[data-ico=ico_03_7] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -300px -100px;
}
div[data-ico=ico_03_8] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: 0px -200px;
}
div[data-ico=ico_03_9] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -100px -200px;
}
div[data-ico=ico_03_10] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -200px -200px;
}
div[data-ico=ico_03_11] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -300px -200px;
}
div[data-ico=ico_03_12] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: 0px -300px;
}
div[data-ico=ico_03_13] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -100px -300px;
}
div[data-ico=ico_03_14] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -200px -300px;
}
div[data-ico=ico_03_15] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_03.png');
  background-position: -300px -300px;
}
div[data-ico=ico_04_0] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: 0px 0px;
}
div[data-ico=ico_04_1] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -100px 0px;
}
div[data-ico=ico_04_2] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -200px 0px;
}
div[data-ico=ico_04_3] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -300px 0px;
}
div[data-ico=ico_04_4] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: 0px -100px;
}
div[data-ico=ico_04_5] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -100px -100px;
}
div[data-ico=ico_04_6] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -200px -100px;
}
div[data-ico=ico_04_7] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -300px -100px;
}
div[data-ico=ico_04_8] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: 0px -200px;
}
div[data-ico=ico_04_9] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -100px -200px;
}
div[data-ico=ico_04_10] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -200px -200px;
}
div[data-ico=ico_04_11] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -300px -200px;
}
div[data-ico=ico_04_12] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: 0px -300px;
}
div[data-ico=ico_04_13] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -100px -300px;
}
div[data-ico=ico_04_14] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -200px -300px;
}
div[data-ico=ico_04_15] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_04.png');
  background-position: -300px -300px;
}
div[data-ico=ico_05_0] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: 0px 0px;
}
div[data-ico=ico_05_1] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -100px 0px;
}
div[data-ico=ico_05_2] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -200px 0px;
}
div[data-ico=ico_05_3] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -300px 0px;
}
div[data-ico=ico_05_4] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: 0px -100px;
}
div[data-ico=ico_05_5] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -100px -100px;
}
div[data-ico=ico_05_6] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -200px -100px;
}
div[data-ico=ico_05_7] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -300px -100px;
}
div[data-ico=ico_05_8] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: 0px -200px;
}
div[data-ico=ico_05_9] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -100px -200px;
}
div[data-ico=ico_05_10] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -200px -200px;
}
div[data-ico=ico_05_11] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -300px -200px;
}
div[data-ico=ico_05_12] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: 0px -300px;
}
div[data-ico=ico_05_13] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -100px -300px;
}
div[data-ico=ico_05_14] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -200px -300px;
}
div[data-ico=ico_05_15] {
  background-repeat: no-repeat;
  background-size: 400% 400%;
  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('../img/ico_set_05.png');
  background-position: -300px -300px;
}
.info {
  float: left;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  background: #777;
  border: 4px solid #ddd;
  border-left: none;
  border-radius: 0 0.7rem 0.7rem 0;
  flex-grow: 99;
  position: relative;
}
.name {
  color: black;
}
.minus {
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  font-weight: bold;
  font-size: 130%;
  color: #222;
  background: rgba(221, 221, 221, 0);
  border-radius: 3px;
  cursor: pointer;
  z-index: 99;
  transition: background .2s;
}
.minus:hover {
  background: #ddd;
}
.ghost {
  opacity: 0.5;
}
.separator {
  position: relative;
  height: 2rem;
  margin-left: 14rem;
  margin-right: 0.9rem;
  transition: background .3s;
  background: rgba(221, 221, 221, 0);
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.separator::before {
  content: "";
  height: 2px;
  transition: background .3s;
  flex-grow: 99;
  background: linear-gradient(to left, #ddd, rgba(221, 221, 221, 0));
  opacity: 0;
  transition: opacity .2s;
}
.separator:hover::before {
  opacity: 1;
}
.separator:hover .simbol {
  background: #ddd;
}
.separator .simbol {
  display: flex;
  justify-content: center;
  align-items: center;
  /*position: absolute;
    right: 0rem;
    top: -1.0rem;*/
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  font-size: 130%;
  color: #222;
  background: #777;
  border-radius: 3px;
  z-index: 99;
  transition: background .2s;
}
.separator .simbol:hover {
  background: #ddd;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row .cell {
  flex-grow: 1;
}
.ico_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ico_list li {
  flex-basis: 100px;
  cursor: pointer;
  transition: background .2s;
  margin: .5rem;
}
.ico_list li:hover {
  background: #ddd;
}
.ico_list li .selected {
  box-shadow: inset 0 0 0 3px #222;
}
.color_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0rem;
  max-height: 400px;
  overflow-y: auto;
}
.color_list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.color_list::-webkit-scrollbar-thumb {
  background: #777;
}
.color_list::-webkit-scrollbar-track {
  background: #ddd;
}
.color_list body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.color_list li {
  flex-basis: 60px;
  cursor: pointer;
  transition: background .2s;
}
.color_list li:hover {
  background: #777;
}
.color_list li .selected {
  box-shadow: inset 0 0 0 2px #222;
}
.color_list .color_list_item {
  height: 3rem;
  margin: 0.5rem;
}
div[data-color=color_0] {
  background-color: #f44336;
}
div[data-color=color_1] {
  background-color: #9c27b0;
}
div[data-color=color_2] {
  background-color: #ffc107;
}
div[data-color=color_3] {
  background-color: #388e3c;
}
div[data-color=color_4] {
  background-color: #3f51b5;
}
div[data-color=color_5] {
  background-color: #8bc34a;
}
div[data-color=color_6] {
  background-color: #e91e63;
}
div[data-color=color_7] {
  background-color: #00bcd4;
}
div[data-color=color_8] {
  background-color: #ff9800;
}
div[data-color=color_9] {
  background-color: #607d8b;
}
div[data-color=color_10] {
  background-color: #673ab7;
}
div[data-color=color_11] {
  background-color: #009688;
}
#sWinHistory {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
#sWinHistory::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
#sWinHistory::-webkit-scrollbar-thumb {
  background: #777;
}
#sWinHistory::-webkit-scrollbar-track {
  background: #ddd;
}
#sWinHistory body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
#sWinHistory li {
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: pointer;
}
#sWinHistory li:hover {
  opacity: 1;
}
#sWinHistory .empty {
  padding: 1em;
  font-weight: bold;
  text-align: center;
}
.modWinCont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.modWinCont::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.modWinCont::-webkit-scrollbar-thumb {
  background: #777;
}
.modWinCont::-webkit-scrollbar-track {
  background: #ddd;
}
.modWinCont body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.tabContent {
  display: flex;
  flex-direction: column;
}
.scrollable {
  overflow-y: auto;
}
.scrollable::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scrollable::-webkit-scrollbar-thumb {
  background: #777;
}
.scrollable::-webkit-scrollbar-track {
  background: #ddd;
}
.scrollable body {
  scrollbar-face-color: #777;
  scrollbar-track-color: #ddd;
}
.mod_win button {
  width: 100%;
  margin-top: 0.5rem;
}
